:root {
  /* Background */
  --main-bg-color: #f0c7c1;
  /* menu and button and navtext:hover */
  --darkest-color: #bc6658;
  /* text in quill */
  --main-text-color: #bc6658;
  /* btn-nav:hover */
  --nav-hover-color: #e8b786;
  /* notes list and search */
  --list-bg-color: #f0c0b8;
  /* .notes_item:hover  */
  --notes-hover-color: #e8b786;
  /* The title of the notelist */
  --notes-title-color: #bc6658;
  /* notes star and date */
  --note-text-color: #bc6658;
  --ql-date-color: #bc6658;
  /* The action button */
  --action-hover-color: #bc6658;
  /* toolbar background */
  --toolbar-bg-color: #f0c0b8;
}
/* FONTS */
:root {
  --family-font: Georgia, "Times New Roman", Times, serif;
}
