:root {
  /* Background */
  --main-bg-color: #4a4a59;
  /* menu and button and navtext:hover */
  --darkest-color: #282b33;
  /* text in quill */
  --main-text-color: #fff;
  /* btn-nav:hover */
  --nav-hover-color: #80819a;
  /* notes list and search */
  --list-bg-color: #424351;
  /* .notes_item:hover  */
  --notes-hover-color: #5b5b6c;
  /* The title of the notelist */
  --notes-title-color: rgb(172, 171, 171);
  /* notes star and date */
  --note-text-color: #bbb;

  --ql-date-color: #fff;
  /* The action button */
  --action-hover-color: #282b33;
  /* toolbar background */
  --toolbar-bg-color: #80819a;
}
/* FONTS */
:root {
  --family-font: "Courier New", Courier, monospace;
}
