:root {
  /* Background */
  --main-bg-color: #fafae1;
  /* menu and button and navtext:hover */
  --darkest-color: #7ba090;
  /* text in quill */
  --main-text-color: #666;
  /* btn-nav:hover */
  --nav-hover-color: #fff;
  /* notes list and search */
  --list-bg-color: #f5f5de;
  /* .notes_item:hover  */
  --notes-hover-color: #fff;
  /* The title of the notelist */
  --notes-title-color: #7ba090;
  /* notes star and date */
  --note-text-color: #666;
  --ql-date-color: #7ba090;
  /* The action button */
  --action-hover-color: #7ba090;
  /* toolbar background */
  --toolbar-bg-color: #f5f5de;
}
/* FONTS */
:root {
  --family-font: "Lucida Grande";
}
